<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, minimum-scale=1.0, maximum-scale = 1.0, user-scalable = no"
    />
    <title>Yangon 2D | Result</title>
    <link rel="stylesheet" href="../panel.css" />
  </head>
  <body>
    <header>
      <div>
        <h1 class="main-title">Yangon 2D</h1>
      </div>
    </header>
    <main>
      <div class="top-div" style="margin-bottom: 10px">
        <div class="page-title">Control Panel</div>
      </div>

      <div class="bottom-div" style="padding: 0px 18px">
        <p>Results</p>
        <table
          style="margin-top: 20px"
          class="close-day-table"
          id="close-day-table"
        >
          <thead>
            <tr>
              <th>Buy</th>
              <th>Sell</th>
              <th>2D</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% if (data) { %> <% data.forEach(d => { %>
            <tr>
              <td><%= d.date %></td>
              <td><%= d.time %></td>
              <td>
                <button
                  onclick="deleteCloseDay(this)"
                  data-id="<%= d._id %>"
                  data-date="<%= d.date %>"
                  data-time="<%= d.time %>"
                >
                  Delete
                </button>
              </td>
            </tr>
            <% }) %> <% } %>
          </tbody>
        </table>
      </div>
    </main>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
      function deleteNext(e) {
        const id = e.getAttribute("data-id");
        Swal.fire({
          icon: "warning",
          text: "Are you sure to delete next result?",
          showCancelButton: true,
          confirmButtonText: "Delete",
          confirmButtonColor: "#ff0000",
        }).then((result) => {
          if (result.isConfirmed) {
            let xmlHttp = null;
            xmlHttp = new XMLHttpRequest();
            xmlHttp.open("DELETE", "/panel/next/" + id, false);
            xmlHttp.send(null);
            location.href = "/panel/next";
          }
        });
      }
    </script>
  </body>
</html>
